* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #photo {
    height: 100vh;
    width: 100%;
    background-image: url(../IMAGES/_\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .about-section {
      /* height: 100vh;
      width: 100%; */
      background-color: black;
      background-size: cover;
      background-position: center;
      text-align: center;
      font-weight: bold;
      margin-left: auto; 
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 80%;
  }
  /* #design {
      background-image: url(../IMAGES/roomdesign.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
  } */
  .navbar-brand {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 50px;
  }
  .background { 
    background-image:url(../IMAGES/_\ \(1\).jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .habakuk {
    float: right;
    padding-top: 20%;
    opacity: 60%;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  /* #photo2 {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 0%;
    margin: 0%;
  } */
  .green {
    opacity: 100%;
    font-family: sans-serif;
    text-align: justify;
  }
  .yellow {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-align: center;
    opacity: 100%;
    font-weight: bolder;
    color: black;
    /* background-image: url(../IMAGES/_\ \(1\).jpeg); */
    background-repeat: no-repeat;
    background-size: contain;
  }
  a.fantasy.card-link {
    color: maroon;
    text-align: center;
  }
a.card-link {
  color: maroon;
}
.btn.btn-secondary {
  background-color: black;
  color: wheat;
}
.form-control.me-auto {
  background-color: black;
  color: wheat;
}
.last {
  background-color: black;
}
.beauty.d-sm-flex.align-items-center.justify-contents-between {
  background-image: url(../IMAGES/_\ \(1\).jpeg);
  opacity: 25;
}