* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #photo {
    height: 100vh;
    width: 100%;
    background-image: url(../IMAGES/LOI-LOI.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .about-section {
      /* height: 100vh;
      width: 100%; */
      background-color: black;
      background-size: cover;
      background-position: center;
      text-align: center;
      font-weight: bold;
      margin-left: auto; 
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 80%;
  }
  /* #design {
      background-image: url(../IMAGES/roomdesign.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
  } */
  .navbar-brand {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 50px;
  }
  .background {
    background-image:url(../IMAGES/roomdesign.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .habakuk {
    float: left;
    padding-top: 20%;
    opacity: 60%;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  #photo2 {
    height: 100vh;
    width: 100%;
    background-image: url(../IMAGES/_Hide\ &\ Seek_\ -\ Paper\ craft\ architecture\ photography.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .green {
    opacity: 60%;
  }
  .yellow {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
    text-align: center;
  }
  a.fantasy.card-link {
    color: yellow;
  }
a.card-link {
  color: yellowgreen;
}
.btn.btn-secondary {
  background-color: yellow;
  color: black;
}
.form-control.me-auto {
  background-color: black;
  color: yellowgreen;
}
